body {
  background-color: #f2f6ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 .container {
   width: 80%;
   margin: auto;
   padding: 20px;
 }
h1 {
  color: #2c3e50;
}
h2 {
  color: #34495e;
  margin-top: 20px;
}
 p {
   color : #555;
   font-size: 16px;
 }
ul {
  list-style-type: square;
}
li {
  color: #333;
  font-size: 15px;
}
